.vue-notification {
  border-left: none;
  margin-left: -1px;
}

.vue-notification-group,
.vue-notification-template,
.vue-notification-group {
  width: 100% !important;
}

.vue-notification-template {
  padding: 2rem 3rem;
}
